<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practica_laboratorio_14.Properties.Settings.Base_de_datos_TC1019ConnectionString"
            connectionString="Data Source=LOBO-PC\SQLEXPRESS;Initial Catalog=&quot;Base de datos TC1019&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>